.husky/_
.DS_Store
.secrets/
node_modules
.worktrees
.sst
.env
.env.local
.idea/*
!.idea/gradle.xml
!.idea/.run
.idea/*.iml
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
# use vscode workspaces with peacock to have many vscodes with the same repo:
*.code-workspace
.codex
*~
playground
tmp
dist
ts-dist
storybook-static
.turbo
**/.serena
.serena/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/
packages/zode-jetbrains/build-tasks/.gradle/

# Local dev files
opencode-dev
.zode-dev/
UPCOMING_CHANGELOG.md
logs/
*.bun-build

# Telemetry ID
telemetry-id
tsconfig.tsbuildinfo

# Zode
.zode/.gitignore
.zode/package.json
.zode/package-lock.json
.zode/pnpm-lock.yaml
.zode/bun.lock
.zode/yarn.lock
.zode/node_modules
.zode/plans/*upstream-merge-report-*.md
.zodecode/.gitignore
.zodecode/package.json
.zodecode/package-lock.json
.zodecode/pnpm-lock.yaml
.zodecode/bun.lock
.zodecode/yarn.lock
.zodecode/node_modules

# Test Artifacts
packages/app/.artifacts/
packages/opencode/.artifacts/
